<div class="logo-display">
    <img class="img-responsive" title="Thallam Latha's Kitchen
    " src="./../../../assets/images/logo.jpg">
    <h1 style="color: aliceblue;">Thallam Latha's Kitchen</h1>
</div>
<!-- <div style="display: flex;" class="toolbar">
    <div style="width: 100%;">
        <div class="left-div">
            <button class="btn">Home</button>
            <button class="btn">Featured</button>
            <button class="btn">Coming Soon</button>
            <button class="btn">Top viewed</button>
            <button class="btn">Most Recent <span class="badge badge-light"> 4</span></button>

        </div>
        <div class="right-div">
            <button class="btn">About US</button>
            <button class="btn">Contact Us</button>
            <button class="btn">Ask Us <span class="badge badge-light">New</span></button>
        </div>
    </div>
</div> -->
<!-- <hr><hr> -->
<div>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#" style="margin-left: 4%;">Thallam Latha's Kitchen</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/featured">Featured</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/comingsoon">Coming soon</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/topviewed">Top Viewed<span class="badge badge-light">New</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/mostrecent">Most Recent</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/aboutus">Contact Us</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/aboutus">About Us</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="https://github.com/rohithreddy86/DineWithUs/" title="Takes you to the developers github link">About Devs<span class="badge badge-light">New</span></a>
        </li>
    </ul>
    </div>
</nav>
</div>
<!-- message to rohith * this nav bard is not suitable because it doesn't well fit with small screens lets go with bootstrap nav bar-->
<!-- <div class="main-toolbar">
  <dx-toolbar style="background-color: rgb(34, 37, 57);">
    <dxi-item location="before">
      <dx-button id="menu-tool-btn" stylingMode="text" style="margin-left: 60px" text="Home"></dx-button>
    </dxi-item>
    <dxi-item location="before">
      <dx-button id="menu-tool-btn" stylingMode="text" text="Featured"></dx-button>
    </dxi-item>
    <dxi-item location="before">
      <dx-button id="menu-tool-btn" stylingMode="text" text="Coming Soon"></dx-button>
    </dxi-item>
    <dxi-item location="before">
      <dx-button id="menu-tool-btn" stylingMode="text" text="Most Viewed"></dx-button>
    </dxi-item>
    <dxi-item location="before">
      <dx-button id="menu-tool-btn" stylingMode="text" text="Trending"></dx-button>
    </dxi-item>
    <dxi-item location="after">
      <dx-button id="menu-tool-btn" stylingMode="text" text="Contact Us"></dx-button>
    </dxi-item>
    <dxi-item location="after">
      <dx-button id="menu-tool-btn" stylingMode="text" style="margin-right: 10px;" text="About Dev"></dx-button>
    </dxi-item>
  </dx-toolbar>
</div> -->