<div class="logo-display">
    <img class="img-responsive" title="Thallam Latha's Kitchen
    " src="./../../../assets/images/logo.jpg">
    <h1 style="color: aliceblue;">Thallam Latha's Kitchen</h1>
</div>
<div>
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: rgb(31,37,51);">
        <a class="navbar-brand" href="#" style="margin-left: 4%;"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon" style="background-color: white;"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#" style="color: white;">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/featured" style="color: white;">Featured</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/comingsoon" style="color: white;">Coming soon</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/topviewed" style="color: white;">Top Viewed <span class="badge badge-light">New</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/mostrecent" style="color: white;">Most Recent</a>
                </li>
                <!-- <li class="nav-item">
                    <a class="nav-link" href="/aboutus" style="color: white;">About Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/aboutdevs" title="Takes you to the developers github link" style="color: white;">About Devs <span class="badge badge-light">New</span></a>
                </li> -->
            </ul>
            <form class="form-inline my-2 my-lg-0" style="margin-right: 4%;">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/aboutus" style="color: white;">About Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/aboutdevs" title="Takes you to the developers github link" style="color: white;">About Devs <span class="badge badge-light">New</span></a>
                    </li>
                </ul>
            </form>
        </div>
    </nav>
</div>

<div style="display: none;">If you are playing around in this area I see that you are interested in this stack. Dont worry this SPA is open source except for some areas and you can find this SPA source code in https://github.com/RohithReddy86/dineWithUs and if anywhere in source code anything asks for password it is MuRodinewuAnFiYtv3</div>