<div class="logo-display">
    <img class="img-responsive" title="Thallam Latha's Kitchen
    " src="./../../../assets/images/logo.jpg">
    <h1 style="color: aliceblue;">Thallam Latha's Kitchen</h1>
</div>
<div style="display: flex;" class="toolbar">
<div style="width: 100%;">
    <div class="left-div"> 
        <button class="btn">Home</button>
        <button class="btn">Featured</button>
        <button class="btn">Coming Soon</button>
        <button class="btn">Top viewed</button>
        <button class="btn">Most Recent</button>
    </div>
    <div class="right-div"> 
        <button class="btn">About US</button>
        <button class="btn">Contact Us</button>
        <button class="btn">Ask Us</button>
    </div>
</div>
</div>