<div class="progress" style="height: 1px;">
    <div class="progress-bar" role="progressbar" style="width: 100%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
</div>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/admin">ADMIN</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
            <a class="nav-link" href="/home">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/featured">Featured</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/comingsoon">Coming soon</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/topviewed">Top Viewed</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/mostrecent">Most Recent</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/aboutus">About Us</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/search">Search</a>
        </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
        <!-- <button class="btn my-2 my-sm-0">Top</button> -->
        <a class="nav-link" href="/aboutdevs" title="Takes you to the developers page" class="btn btn-light">About Developers <span class="badge badge-dark">New</span></a>
    </form>
    </div>
</nav>
