<!-- <figure class="figure">
    <img src="./../../../assets/images/logo.jpg" class="figure-img img-fluid rounded" alt="...">
    <figcaption class="figure-caption">A caption for the above image.</figcaption>
</figure> -->

<div class="main-content" style="padding: 30px;display: flex;flex-wrap: wrap;">
    <div class="card" style="width: 18rem;margin: 30px;cursor: pointer;">
        <img class="card-img-top" src="./../../../assets/images/mahith.jpeg" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Murari Mahith</h5>
            <p class="card-text">M.Tech Integrated, VIT University, Vellore, 2021-Passed Out</p>
        </div>
    </div>
    <div class="card" style="border: none;margin: 40px;">
        <div class="card-body">
          This is some text within a card body.
        </div>
    </div>
    <!-- <div class="break"></div> -->
    <div class="card" style="width: 18rem;margin: 30px;cursor: pointer;">
        <img class="card-img-top" src="./../../../assets/images/rohith.jpeg" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">K Rohith Reddy</h5>
            <p class="card-text">M.Tech Integrated, VIT University, Vellore, 2021-Passed Out</p>
        </div>
    </div>
    <div class="card" style="border: none;margin: 40px;">
        <div class="card-body">
          This is some text within a card body.
        </div>
    </div>
    <div class="break"></div>
    <div class="card" style="width: 18rem;margin: 30px;cursor: pointer;">
        <img class="card-img-top" src="./../../../assets/images/mukesh.jpeg" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Mukesh Pabbathi</h5>
            <p class="card-text">M.Tech Integrated, VIT University, Vellore, 2021-Passed Out</p>
        </div>
    </div>
    <div class="card" style="border: none;margin: 40px;">
        <div class="card-body">
          This is some text within a card body.
        </div>
    </div>
    <div class="card" style="width: 18rem;margin: 30px;cursor: pointer;">
        <img class="card-img-top" src="./../../../assets/images/prasanna.jpeg" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Prasanna Sai Krishna</h5>
            <p class="card-text">M.Tech Integrated, VIT University, Vellore, 2021-Passed Out</p>
        </div>
    </div>
    <div class="card" style="border: none;margin: 40px;">
        <div class="card-body">
          This is some text within a card body.
        </div>
    </div>
    <div class="break"></div>
    <div class="card" style="width: 18rem;margin: 30px;cursor: pointer;">
        <img class="card-img-top" src="./../../../assets/images/lodda.jpeg" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Aravind Reddy</h5>
            <p class="card-text">M.Tech Integrated, VIT University, Vellore, 2021-Passed Out</p>
        </div>
    </div>
    <div class="card" style="border: none;margin: 40px;">
        <div class="card-body">
          This is some text within a card body.
        </div>
    </div>
</div>
<div style="width:90%;margin-left: 5%;margin-bottom: 5px;">
<div class="card text-center">
    <div class="card-header">
      Featured
    </div>
    <div class="card-body">
      <h5 class="card-title">Phighters</h5>
      <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
    <div class="card-footer text-muted">
      08th December 2020
    </div>
</div>
</div>