<!-- Coming soon videos card-header -->
<h1 class="d-flex justify-content-center" style="padding-top:30px;">Coming Soon</h1>
<div class="main-content" style="padding: 30px;display: flex;flex-wrap: wrap;justify-content: center;">
    <div *ngFor='let videocard of comingSoonVideoCards'>
        <div class="card" style="width: 18rem;margin: 30px;cursor: pointer;" >
            <img class="card-img-top" src={{videocard.imageUrl}} (click)="GoTo(videocard.cardID)" alt="Card image cap">
            <div class="card-body">
                <p class="card-title" style="font-size: small; font-weight: 500;">{{videocard.title}}</p>
            </div>
        </div>
    </div>
</div>
