<head>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>
<div style="display:flex ; margin:5% ; justify-content:center;">
    <iframe width="560" height="315" [src]="safeSrc" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
<div style=" margin-top:-60px ; text-align: center; font-size: small; font-weight: 500;">
    <h5><i class="material-icons" style="color:red; font-size:20px">favorite</i> {{videoTitle}} </h5>
    <p style="margin-left:27px ;"> {{videoDescription}} </p>
</div>
