<app-scrolling-content></app-scrolling-content>

<div class="main-content" style="padding: 30px;display: flex;flex-wrap: wrap;">
    <div *ngFor='let videocard of videocards1'>
        <div class="card" style="width: 18rem;margin: 30px;cursor: pointer;" (click)="GoTo(videocard.cardID)">
            <img class="card-img-top" src={{videocard.imageUrl}} alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">{{videocard.title}}</h5>
                <p class="card-text">{{videocard.description}}</p>
            </div>
        </div>
    </div>
</div>

<div class="card" style="margin: 30px;">
    <div class="card-header">
      Quote
    </div>
    <div class="card-body">
      <blockquote class="blockquote mb-0">
        <p>Life's unfairness doesn't give you right to walk the wrong path of dharma</p>
        <footer class="blockquote-footer">Bhagawan Shree Krishna in <cite title="Bhagavadgita">Bhagavadgita</cite></footer>
      </blockquote>
    </div>
</div>