<app-scrolling-content></app-scrolling-content>
<!-- featured videos here -->
<h1 class="d-flex justify-content-center" style="padding-top:30px;">Featured</h1>
<div class="main-content" style="padding: 30px;display: flex;flex-wrap: wrap;justify-content: center;">
    <div *ngFor='let videocard of featuredVideoCards'>
        <div class="card" style="width: 18rem;margin: 30px;cursor: pointer;" >
            <img class="card-img-top" src={{videocard.imageUrl}} (click)="GoTo(videocard.cardID)" alt="Card image cap">
            <div class="card-body">
                <p class="card-title" style="font-size: small; font-weight: 500;">{{videocard.title}}</p>
                <!-- <dx-button stylingMode="text" text="video Description" (onClick)="showVideoDescription()"></dx-button>
                <button style="border:none; background-color:white" onclick="showVideoDescription()">video Description</button>
                <div *ngIf="videoDescriptionClicked">
                    <p class="card-text"> {{videocard.description}} </p>
                </div> -->
            </div>
        </div>
    </div>
</div>
<div class="col-md-12 text-center">
  <!-- <button type="button" class="btn btn-primary btn-lg" routerLink="/featured" >Go To Featured Videos</button> -->
  <a href="/featured">See All Featured</a>
</div>

<!-- Most recent videos here -->
<h1 class="d-flex justify-content-center" style="padding-top:30px;">Most Recent</h1>
<div class="main-content" style="padding: 30px;display: flex;flex-wrap: wrap;justify-content: center;">
    <div *ngFor='let videocard of mostRecentVideoCards'>
        <div class="card" style="width: 18rem;margin: 30px;cursor: pointer;" >
            <img class="card-img-top" src={{videocard.imageUrl}} (click)="GoTo(videocard.cardID)" alt="Card image cap">
            <div class="card-body">
                <p class="card-title" style="font-size: small; font-weight: 500;">{{videocard.title}}</p>
            </div>
        </div>
    </div>
</div>
<div class="col-md-12 text-center">
  <!-- <button type="button" class="btn btn-primary btn-lg" routerLink="/mostrecent" >Go To Most Recent Videos</button> -->
  <a href="/mostrecent">See All Most Recent</a>
</div>

<!-- Coming soon videos card-header -->
<h1 class="d-flex justify-content-center" style="padding-top:30px;">Coming Soon</h1>
<div class="main-content" style="padding: 30px;display: flex;flex-wrap: wrap;justify-content: center;">
    <div *ngFor='let videocard of comingSoonVideoCards'>
        <div class="card" style="width: 18rem;margin: 30px;cursor: pointer;" >
            <img class="card-img-top" src={{videocard.imageUrl}} (click)="GoTo(videocard.cardID)" alt="Card image cap">
            <div class="card-body">
                <p class="card-title" style="font-size: small; font-weight: 500;">{{videocard.title}}</p>
            </div>
        </div>
    </div>
</div>
<div class="col-md-12 text-center">
  <!-- <button type="button" class="btn btn-primary btn-lg" routerLink="/comingsoon" >Go To Coming Soon Videos</button> -->
  <a href="/comingsoon">See All Coming Soon</a>
</div>

<!-- top viewed videos here -->
<h1 class="d-flex justify-content-center" style="padding-top:30px;">Top Viewed</h1>
<div class="main-content" style="padding: 30px;display: flex;flex-wrap: wrap;justify-content: center;">
    <div *ngFor='let videocard of topViewedVideoCards'>
        <div class="card" style="width: 18rem;margin: 30px;cursor: pointer;" >
            <img class="card-img-top" src={{videocard.imageUrl}} (click)="GoTo(videocard.cardID)" alt="Card image cap">
            <div class="card-body">
                <p class="card-title" style="font-size: small; font-weight: 500;">{{videocard.title}}</p>
            </div>
        </div>
    </div>
</div>
<div class="col-md-12 text-center">
  <!-- <button type="button" class="btn btn-primary btn-lg" routerLink="/topviewed" >Go To Top Videos</button> -->
  <a href="/topviewed">See All Top Viewed</a>
</div>


<div class="card" style="margin: 30px;">
    <div class="card-header">
      Quote
    </div>
    <div class="card-body">
      <blockquote class="blockquote mb-0">
        <p>Life's unfairness doesn't give you right to walk the wrong path of dharma</p>
        <footer class="blockquote-footer">Bhagawan Shree Krishna in <cite title="Bhagavadgita">Bhagavadgita</cite></footer>
      </blockquote>
    </div>
</div>
